.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: grid;
  row-gap: 10px;
  flex-direction: column;
  margin: auto;
}

label {
  display: flex;
  justify-content: space-between;
}

.validate {
  display: block;
  color: red;
}

input {
  margin-left: 10px;
}

.menu {
  display: flex;
  padding: 20px 40px;
  background: #313130;
}

a,
a:active,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu a {
  margin: 0 20px;
}

.menu button {
  border: 1px solid #fff;
  background: transparent;
  margin-left: auto;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}